<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Styling -->
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
  {% assets "scss_all" %}
    <link rel="stylesheet" href="/static/gen/all.css">
  {% endassets %}

  <title>Craftpainting</title>
</head>
<body>
  <main>
    <header>
      <h1 class="fancy-font">Craftpainting</h1>
      <div class="buttons">
        <a href="https://github.com/ninest/craftpainting" target="_blank">GitHub</a>
        <a id="shareButton" href="#">Share</a>
      </div>
    </header>
    {% block body %}{% endblock %}
  </main>
  <script>
    const $shareButton = document.getElementById('shareButton')

    $shareButton.onclick = async () => {
      if (navigator.canShare) {
        await navigator.share({
          title: 'craftpainting',
          url: 'https://craftpainting.herokuapp.com/'
        })
      } else {
        alert("Sorry, but your browser cannot perform this action.")
      }
    }
  </script>
  {% block scripts %}{% endblock %}
</body>
</html>