<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Styling -->
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
  {% assets "scss_all" %}
    <link rel="stylesheet" href="/static/gen/all.css">
  {% endassets %}

  <title>Craftpainting</title>
</head>
<body>
  <main>
    <h1 class="fancy-font">Craftpainting</h1>
    {% block body %}{% endblock %}
  </main>
  {% block scripts %}{% endblock %}
</body>
</html>