{% extends "base.html" %}

{% block body %}
  <form action="/create_painting" method="post" enctype="multipart/form-data">
    <section>
      <h2>Image</h2>
      <p>Upload an image</p>
      <!-- image upload -->
      <div>
        <!-- <label for="image">Image</label> -->
        <input type="file" name="image" accept="image/*" required>
      </div>
    </section>
    
    <section>
      <h2>Size</h2>
      <p>Enter the size in <b>Minecraft blocks</b>. If left empty, we'll try to guess an appropriate value for you!</p>
      <!-- image width -->
      <div class="grid">
        <label class="size" for="width">Width</label>
        <input name="width" type="number">
      </div>

      <!-- image height -->
      <div class="grid">
        <label class="size" for="height">Height</label>
        <input name="height" type="number">
      </div>
    </section>

    <section>
      <h2>Other options</h2>
      <!-- black and white? -->
      <div>
        <input type="checkbox" name="bw">
        <label for="bw">Black and white</label>
      </div>
      <div>
        <input type="checkbox" name="frame" checked>
        <label for="frame">Include photo frame</label>
      </div>
    </section>

    <!-- submit -->
    <button class="fancy-font" type="submit">Create painting</button>
  </form>
{% endblock %}