main {
  margin: 1.5em 20%;
}

@media only screen and (max-width: 700px) {
  /* Mobile styles */
  main {
    margin: 1em 7%;
    /* background: red; */
  }
}

h1 {
  font-weight: 900;
}

form div {
  margin-top: 0.7em;
  margin-bottom: 1em;
}
  label {
    font-weight: 400;
  }
  label.size {
    display: inline-block;
    width: 6em;
  }

section {}
  h2 {}
  p { 
    color: rgba(0, 0, 0, 0.7);
  }

input[type=text], input[type=number] {
  padding: 0.3em;
  border: 2px solid rgba(0, 0, 0, 0.4);
}
input[type=text]:focus, input[type=number]:focus {
  outline: none;
  border: 2px solid blue;
}

button {
  margin-top: 1em;
  background-color: black;
  color: white;
  padding: 0.3em 1em;
  font-weight: 600;
  border: none;
}