@import "variables.scss";

input[type="text"],
input[type="number"] {
  padding: 0.3em;
  border: 2px solid rgba(0, 0, 0, 0.4);

  &:focus {
    outline: none;
    border: 2px solid blue;
  }
}

button, a.button {

  margin-top: 1em;
  font-family: $fancy-font;
  font-size: 0.8em;
  font-weight: 600;

  color: white;
  text-decoration: none;
  padding: 0.7em 1.7em;

  background-color: rgb(49, 49, 49);

  border: 2px solid black;

  &.outline {
    background-color: unset;
    color: rgb(49, 49, 49);

  }

  &:hover {
    border: 2px solid blue;
  }
}
