* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 19px;
  /* "Press Start 2P",  */
  font-family: "Inter", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
  line-height: 1.7;
}


header {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  .buttons {
    a {
      text-decoration: none;
      font-weight: 600;
    }
    a + a {
      margin-left: 1em;
    }
  }
}
